#middle-link {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.nav-label {
    font-family: "Optima";
    font-size: 1.5em;
    font-weight: bold;
}

.nav-link {
    flex: 1;
    text-align: center;
}

.nav-link:hover {
    background: #030303;
}

.nav-link-style {
    color: white;
}

.nav-strip {
    background: #636678;
    display: flex;
    flex: 1;
    flex-direction: row;

    .nav-button {
        background: #000000;
        color: #FFFFFF;
        font-size: 18px;
        padding: 10px 60px;
        border-radius: 5px;
        margin: 10px 0px;
        cursor: PointerEvent;
        ;
    }
}